<div class = "container-fluid">
  <h1 class = "text-center">Hello Angular</h1>
  <app-mdf-builder-demo></app-mdf-builder-demo>
  <!-- <app-mdf-demo></app-mdf-demo> -->
  <!-- <app-tdf-demo></app-tdf-demo> -->
  <!-- <app-user></app-user> -->
  <!-- <app-directive-demo></app-directive-demo> -->
  <!-- <app-data-binding></app-data-binding> -->
  <!-- <app-parent></app-parent> -->
  <!-- <simple-directive>Hello Simple Directive</simple-directive>
  <hr />
  <video controls width = "300" videoControl>
    <source src = "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" />
  </video> -->
</div>